<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title}"></title>
	<meta charset="utf-8">
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" />
	<link href='/assets/css/calendrier.css' rel='stylesheet' />
	<link href='/assets/css/calendrier.print.css' rel='stylesheet' />
	<!--<link href='/assets/css/welcomePage-Thibaut.css' rel='stylesheet' />-->
</head>

<body>

	<div id='calendar'></div>
	<div class="container">
		
		<div th:replace="~{navBar :: #navBar}"></div>

		<br>

		<div class="modal fade" id="warning_ndf" role="dialog" >
			<div class="modal-dialog"> 
				<div class="modal-content panel-warning">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Attention</h4>
					</div>
					<div class="modal-body">
						<p th:text="${NotifNote}"></p>
					</div>
					<div class="modal-footer" centered>
						<a href="/remboursements/creer-note-frais?mois=precedent" class="btn btn-primary" role="button">
							Créer une note de frais pour le mois précédent
						</a>
					</div>
				</div>
			</div>
		</div>

		<script th:inline="javascript">
		/*<![CDATA[*/
		    window.onload = function() {
		        if([[${NotifNote} != null]])
		        {
		            $('#warning_ndf').modal('show');
		        }
		    };

		/*]]>*/
		</script>

		<section class="boxAccueil row panel panel-primary ">
			
					<div class="col-md-4">
						<h4 th:if="${WelcomeMsg != null}" th:utext="${WelcomeMsg}"></h4>
					</div>
					<div class="col-md-4">
						<a href="/AjouterConge" class="btn btn-primary" role="button">
							Nouvelle demande de congés
						</a>
					</div>
					<br class="hidden-lg hidden-md">
					<div class="col-md-4">
						<a href="/remboursements/demande-remboursement" class="btn btn-primary" role="button">
							Nouvelle demande de remboursement
						</a>
					</div>
				
		</section>

	<br>
	<section class="row">
		<div class="col-md-6">
			<section class="row">
				<div class="col-md-10">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<a href="/Notifications" class="notif-link">
								<span class="panel-title">Dernières notifications</span>
							</a>
						</div>
						<div class="list-group" th:each="notif : ${notifs}">
							<a th:href="${notif.lien}" class="list-group-item" data-toggle="modal" th:styleappend="${notif.vue} ? 'background-color:#ffffff' : 'background-color:#c8dcf0'" th:onmouseover="'survol(this,'+${notif.vue}+')'" th:onmouseout="'finSurvol(this,'+${notif.vue}+')'">
								<span th:utext="${notif.titre}+'&lt;br /&gt;'"></span>
								<span class="text-muted" th:text="${notif.date}"></span>
							</a>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary boxAccueilConges">
				<section class="row">
					<div class="col-md-12">
						<h2>Mes congés:</h2>
						<h4 th:text="${joursConges} + ' jours'"></h4>
						<h4 th:text="${rtt} + ' jours'"></h4>
						<!-- <h4>RTT(s) restant(s) : 0.0</h4> -->
					</div>
				</section>
				<section class="row">
					<div class="col-md-offset-4 col-md-4">
						<a href="/GererConges" class="btn btn-primary" type="button">
							Mes demandes de congés
						</a>
					</div>
				</section>
				<br>
			</div>
			
			<section class="row">
				<div class="col-md-12 col-xs-12">
					<div class="panel panel-primary table-responsive">
						<div class="panel-heading"> 
							<h3 class="panel-title">Mes dernières demandes de remboursement</h3>
						</div>
						<div th:if="${not #lists.isEmpty(recentDemandesRemboursement)}">
							<div class="panel-body pre-scrollable" style="max-height: 420px;">
								<table class="table table-striped w-auto">
									<thead>
										<tr>
											<th>Titre</th>
											<th>Montant</th>
											<th>Mission</th>
											<th>Date</th>
											<th>Etat (Chef de service)</th>
											<th>Etat (Finances)</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="demandeR : ${recentDemandesRemboursement}">
											<td><a th:href="'/remboursements/note=' + ${notesAssociees[demandeR.demande_id]} + '/id=' + ${demandeR.demande_id}" th:text="${demandeR.titre}"></a></td>
											<td th:text="${#numbers.formatDecimal(demandeR.montant, 0, 'COMMA', 2, 'POINT')} + ' €'"></td>
											<td th:text="${missionNames[demandeR.mission_id]}"></td>
											<td th:text="${#temporals.format(demandeR.date, 'dd/MM/yyyy')}"></td>
											<td th:switch="${demandeR.validationchefservice}"> 
											  <p  th:case="'En attente'" th:text="${demandeR.validationchefservice}"> </p>
											  <p style="color:green;font-weight:bold;" th:case="'Validé'" th:text="${demandeR.validationchefservice}"></p>
											  <p style="color:red;font-weight:bold;" th:case="'Refusé'" th:text="${demandeR.validationchefservice}"></p> 
											</td>
											<td th:switch="${demandeR.validationfinances}"> 
											  <p th:case="'En attente'" th:text="${demandeR.validationfinances}"> </p>
											  <p style="color:green;font-weight:bold;" th:case="'Validé'" th:text="${demandeR.validationfinances}"></p>
											  <p style="color:red;font-weight:bold;" th:case="'Refusé'" th:text="${demandeR.validationfinances}"></p> 
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div th:if="${#lists.isEmpty(recentDemandesRemboursement)}" class="panel-heading" style="color:black; background:white;">
							<h3 class="panel-title">Aucune demande de remboursement n'a été réalisé</h3>
						</div>
					</div>
				</div>
			</section>
		</div>
	</section>
</div>

<script>
function survol(x, vue) {
	x.style = vue ? "background-color:#d0d0d0" : "background-color:#b8bcd0";
}
function finSurvol(x, vue) {
	x.style = vue ? "background-color:#ffffff" : "background-color:#c8dcf0";
}
</script>
<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>  
</body>
</html>