<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Formulaire de cong&eacutes</title>
</head>
<body>
	<h1>Demande de cong&eacute;s</h1>
	<h3>Entrez votre demande :</h3>
	<form action="#" th:action="@{/addConges}" th:object="${congeForm}"
		method="post">
		<table>
			<tbody>
				<tr>
					<td>date_debut:</td>
					<td><input type="text" th:field="*{dateDebut}" /></td>
				</tr>
				<tr>
					<td>date_fin:</td>
					<td><input type="text" th:field="*{dateFin}" /></td>
				</tr>
				<tr>
					<td><input name="submit" type="submit" value="submit"></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>

</html>