<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title}"></title>
	<meta charset="utf-8">
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" />    
</head>

<body>

<div class="modal fade" id="formulaire" role="dialog">
			<div class="modal-dialog" role="document"> 
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Ajouter un utilisateur</h4>
					</div>
					<div class="modal-body">
						<form id="addUserForm" class="form-horizontal" action="#" th:action="'/administration/gestion-utilisateurs/create'" th:object="${userForm}" method="post">
							<div class="form-group">
								<label class="control-label" for="nom">Nom</label>  
								<div>
									<input id="nom" name="nom" type="text" placeholder="ex : Dupont" class="form-control input-md" th:field="*{nom}">
									<label th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}">erreur nom</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="prenom">Prénom</label>  
								<div>
									<input id="prenom" name="prenom" type="text" placeholder="ex : Jeanne" class="form-control input-md" th:field="*{prenom}">
									<label th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}">erreur prenom</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="numTel">Téléphone</label>  
								<div>
									<input id="numTel" name="numTel" type="text" placeholder="ex : 0606060606" class="form-control input-md" th:field="*{numTel}">
									<label th:if="${#fields.hasErrors('numTel')}" th:errors="*{numTel}">erreur numéro de téléphone</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="heures_travail">Heures de travail par semaine</label>  
								<div>
									<input id="heures_travail" name="heures_travail" type="text" placeholder="ex : 35" class="form-control input-md" th:field="*{heurestravail}">
									<label th:if="${#fields.hasErrors('heurestravail')}" th:errors="*{heurestravail}">erreur heures_travail</label>
								</div>
							</div>
							<!--
							<div class="form-group">
								<label class="control-label" for="joursCongesRest">Jours de congés restants</label>  
								<div>
									<input id="joursCongesRest" name="joursCongesRest" type="text" placeholder="ex : 42" class="form-control input-md" th:field="*{joursCongesRest}">
									<label th:if="${#fields.hasErrors('joursCongesRest')}" th:errors="*{joursCongesRest}">erreur joursCongesRest</label>
								</div>
							</div>
							-->
							<div class="form-group">
								<label class="control-label" for="mdp">Mot de passe</label>  
								<div>
									<input id="mdp" name="mdp" type="password" placeholder="ex : *********" class="form-control input-md" th:field="*{mdp}">
									<input type="checkbox" onclick="showMDP()"> Voir Mot de passe
									<label th:if="${#fields.hasErrors('mdp')}" th:errors="*{mdp}">erreur mdp</label>
								</div>
							</div>
							<div class="form-group">
								<label class="control-label" for="role">Rôle</label>
								<div>
									<select id="role_id" name="role_id" class="form-control" th:field="*{role_id}">
										<option th:each="role_id : ${roles_ids}" th:value="${role_id}" th:text="${roles.get(role_id)}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label" for="service">Service</label>
								<div>
									<select id="service" name="service" class="form-control" th:field="*{service_id}">
										<option th:each="service_id : ${services_ids}" th:value="${service_id}" th:text="${services.get(service_id)}"></option>
									</select>
								</div>
							</div>
							
							<div class="form-group">
								<label class="control-label" for="isAdmin">Donner le statut admin</label>
								<div>
									<input type="checkbox" id="isAdmin" name="isAdmin" class="form-control" th:field="*{isAdmin}">
								</div>
							</div>

						<button id="post" name="" type="button" class="btn btn-primary" onclick="sendData()">Soumettre</button>

						<button class="btn btn-danger" data-dismiss="modal">Annuler</button>
						</form>
					</div>
				</div>
			</div>
		</div>

<script src="assets/js/jquery.js"></script>
<script src="assets/js/bootstrap.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>
