
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title}"></title>
	<meta charset="utf-8">
	<link href="assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" />
	<link href='assets/css/calendrier.css' rel='stylesheet' />
	<link href='assets/css/calendrier.print.css' rel='stylesheet' media='print' />



</head>

<body>
	
	<div class="container">
		<div th:replace="~{navBar :: #navBar}"></div>
		<section class="row">
			
			
			<div class = " col-sm-4">
				
				<div class="panel panel-primary table-responsive" value="17/02/2019" >
					<table class="table table-condensed w-auto" id="demandes" >
						<div class="panel-heading"> 
							<h3 class="panel-title">Demandes de congés :</h3>
						</div>
						<thead>
							<tr>
								<th>Utilisateur</th>
								<th>Date de début</th>
								<th>Date de fin</th>
								
							</tr>
						</thead>
						<tbody>
							<tr th:if="${demandesConges.empty}">
								<td colspan="3">Personne n'est en congé!</td>
							</tr>
							<tr th:each="conges : ${demandesConges}">
								<td><span th:text="${conges.prenomNom}"> prenom et nom </span></td>	
								<td><span th:text="${conges.datedebut}"> Date de début </span></td>
								<td><span th:text="${conges.datefin}"> Date de fin </span></td>
								<td style="display: none;"><span th:text="${conges.validationrh}">EnAttente</span></td>
								<td style="display: none;"><span th:text="${conges.validationchefservice}">EnAttente</span></td>
								<td style="display: none;"><span th:text="${conges.uid}">UID</span></td>
								<td style="display: none;"><span th:text="${conges.congesid}">ID congé</span></td>
							</tr>
						</tbody>
					</table>
					
				</div>
				
			</div>
			<div id='calendar' class="col-sm-4" ></div>
			<div class ="col-sm-4">
				<div class="panel panel-primary table-responsive" value="17/02/2019" >
					<table class="table table-striped table-condensed w-auto" id="listConge">
						<div class="panel-heading"> 
							<h3 class="panel-title">Liste des utilisateurs en congé :</h3>
						</div>
						<thead>
							<tr>
								<th>Utilisateur</th>
								<th>Date de début</th>
								<th>Date de fin</th>
								
								
							</tr>
						</thead>
						<tbody>
							<tr th:if="${listConges.empty}">
								<td colspan="2">Personne n'est en congé!</td>
							</tr>
							<tr th:each="conges : ${listConges}">
								<td><span th:text="${conges.prenomNom}"> Nom et prénom </span></td>	
								<td><span th:text="${conges.datedebut}"> Date de début </span></td>
								<td><span th:text="${conges.datefin}"> Date de fin </span></td>
								
											
							</tr>
						</tbody>
					</table>
					
				</div>
			</div>
		</section>
		<br>
		
		<div class="panel panel-primary " >
			<div class="panel-heading"> 
				<h3 class="panel-title">Détails de la demande de congé sélectionnée :</h3>
			</div>
			<div class = "panel-body details">
				<div class="row">
					<div class = "col-md-6">
						<h4 id="nom">Nom: xxx</h4>
						<h4 id="dateD">Date de début: xxx </h4>
						<h4 id="vRH">Validation RH: xxx </h4>
						<h4 id="vC">Validation Chef de Service: xxx</h4>
					</div>
					<div class="col-md-6">
						<h4 id="prenom">Prénom: xxx</h4>
						<h4 id ="dateF">Date de fin: xxx </h4>
						<h4 id="vF">Validation Finale: xxx </h4>
						
						
						
					</div>
				</div>
				<div centered class="row">
					<a href="" id='accept' class="btn btn-primary btn-lg">
						<span class="glyphicon glyphicon-ok"></span> 
					</a> 
					<a href="" id='refuse' class="btn btn-danger btn-lg">
						<span class="glyphicon glyphicon-ban-circle"></span> 
					</a>
				</div>
				<br>
			</div>
		
		</div>

		
	</div>


	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/bootstrap.js"></script>
	<script src="assets/js/scripts.js"></script>
	<script src="assets/js/addRow.js"></script>
	<script src='assets/js/moment.min.js'></script>
	<script src='assets/js/calendrier.js'></script>

	<script type="text/javascript" th:inline="javascript">
		$(document).ready(function() {

			$('#calendar').fullCalendar({
				defaultDate: '2019-01-12',
				editable: true,
				  eventLimit: true,
				  selectable: true,
				  events: [
				  {
					title: 'All Day Event',
					start: '2019-01-01'
				  },
				  {
					title: 'Long Event',
					start: '2019-01-07',
					end: '2019-01-10'
				  },
				  {
					id: 999,
					title: 'Repeating Event',
					start: '2019-01-09T16:00:00'
				  },
				  {
					id: 999,
					title: 'Repeating Event',
					start: '2019-01-16T16:00:00'
				  },
				  {
					title: 'Conference',
					start: '2019-01-11',
					end: '2019-01-13'
				  },
				  
				  ],
				dayClick: function(date, jsEvent, view) {
					
					$("#listConge tr>td").remove();
					/*<![CDATA[*/
						

						var cs = [[${toutConges}]];
						

						
					/*]]>*/
					var _months = { 
						  "Jan" : "01", 
						  "Feb" : "02",
						  "Mar" : "03",
						  "Apr" : "04",
						  "May" : "05",
						  "Jun" : "06",
						  "Jul" : "07",
						  "Aug" : "08",
						  "Sep" : "09",
						  "Oct" : "10",
						  "Nov" : "11",
						  "Dec" : "12"
					  };
					
					cs.forEach(function(element){
						var newRow = $("<tr>");
						var cols = "";
						var jourDebut = element.datedebut.substring(0,2);
						var jourFin = element.datefin.substring(0,2);
						var moisDebut = element.datedebut.substring(3,5);
						var moisFin = element.datefin.substring(3,5);
						var anneeDebut = element.datedebut.substring(6,10);
						var anneeFin = element.datefin.substring(6,10);
						var jour = date.toString().substring(8,10);
						var annee = date.toString().substring(11,15);
						var mois = _months[date.toString().substring(4,7)];
						if(annee>=anneeDebut && annee<=anneeFin){
							if(mois>=moisDebut && mois<=moisFin){
								if(jour>=jourDebut && jour<=jourFin){
									cols+='<td>'+ element.prenomNom+'</td>	';
									cols+='<td>'+ element.datedebut + '</td>	';
									cols += '<td>' + element.datefin + '</td>';
									newRow.append(cols);
									$("#listConge").append(newRow);
								}
							}
						}
						
						
					});
					
				}
			  }
			  
			  );
			
		});
	</script>

</body>
</html>
		
		