<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title}"></title>
	<meta charset="utf-8">
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" />    
</head>

	<div class="container">
		<div th:replace="~{navBar :: #navBar}"></div>

		<form action="#" th:action="@{/changeMdp}" th:object="${passwords}" method="post" centered>
			<div class="form-group">
                <label class="control-label" for="titreMission">Mot de passe actuel</label>  
                <div>
					<input id="mdp" type="password" th:field="*{oldpass}" />
                </div>
				<input type="checkbox" onclick="showMDP()"> Voir Mot de passe
            </div>
            <div class="form-group">
                <label class="control-label" for="titreMission">Nouveau mot de passe</label>  
                <div>
					<input id="mdp2" type="password" th:field="*{newPass}" />
                </div>
				<input type="checkbox" onclick="showMDP2()"> Voir Mot de passe
            </div>
            <input name="submit" class="btn btn-primary" type="submit" value="Soumettre">	
		</form>
	</div>
	
<!--
	<form action="#" th:action="@{/changeMdp}" th:object="${passwords}" method="post">
		<table>
			<tbody>
				<tr>
					<td>Mot de passe actuel:</td>
					<td><input type="text" th:field="*{oldpass}" /></td>
				</tr>
				<tr>
					<td>Nouveau mot de passe:</td>
					<td><input type="text" th:field="*{newPass}" /></td>
				</tr>
				<tr>
					<td><input name="submit" type="submit" value="submit"></td>
				</tr>
			</tbody>
		</table>
	</form>
-->

	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/bootstrap.js"></script>
	<script src="assets/js/scripts.js"></script>
</body>
</html>