<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title}"></title>
	<meta charset="utf-8">
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
	<div class="container">
		<div th:replace="~{navBar :: #navBar}"></div>

		<br>
		<div class="col-md-offset-3 col-md-6">
			<form class="form-horizontal" action="#" th:action="@{/newMission}"	th:object="${mission}" method="post" centered>
				<div class="form-group">
					<label class="control-label" for="titre">Titre</label>
					<div>
						<input id="titre" name="titre" type="text" placeholder="ex : Mission secrete" class="form-control input-md" th:field="*{titre}"> 
						<label th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}">erreur titre</label>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="description">Description</label>
					<div>
						<textarea id="description" name="description" type="text" placeholder="ex : Mission a Polytech" class="form-control" th:field="*{description}"></textarea>
						<label th:if="${#fields.hasErrors('description')}" th:errors="*{description}">erreur description</label>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="date_debut">Debut</label>
					<div>
						<input id="date_debut" name="date_debut" type="text" placeholder="ex : 15/02/2019" class="form-control input-md" th:field="*{date_debut}">
						<label th:if="${#fields.hasErrors('date_debut')}" th:errors="*{date_debut}">erreur date_debut</label>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="date_fin">Fin</label>
					<div>
						<input id="date_fin" name="date_fin" type="text" placeholder="ex : 25/02/2019" class="form-control input-md" th:field="*{date_fin}">
						<label th:if="${#fields.hasErrors('date_fin')}" th:errors="*{date_fin}">erreur date_fin</label>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="responsable_id">Responsable</label>
					<div>
						<select id="responsable_id" class="form-control" th:field="*{responsable_id}">
							<option value="">--</option>
							<option th:each="mission : ${users}" th:value="${mission.UID}" th:text="${mission.Prenom} + ' ' + ${mission.Nom}"></option>
						</select>
					</div>
				</div>

				<div class="form-group">
					<label class="control-label" for="userList">Ajoutez les membres</label>
					<div th:object="${userlist}" >
						<div id="userList" th:each="person : ${membres}">
							<div style="text-align: left;">
								<input type="checkbox" th:field="*{userList}" th:value="${person.UID}">
								<label th:text="${person.Nom} + ' ' + ${person.Prenom}"></label>
							</div>
						</div>
					</div>
				</div>
				<div>
					<button id="postMission" name="" class="btn btn-primary" type="submit">Soumettre</button>
				</div>
			</form>
			<br>
		</div>
	</div>


	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/bootstrap.js"></script>

	<script src="assets/js/scripts.js"></script>

</body>
</html>