<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title}"></title>
	<meta charset="utf-8">
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" />   
</head>

<body>

	<div id='calendar'></div>
	<div class="container">
	
		<div th:replace="~{navBar :: #navBar}"></div>
		<br>
		<br>
		<section class="row">
			<div class="" th:classappend="${isModifiable} ? col-md-9 : col-md-12">
				<div class="panel panel-primary table-responsive">
					<div class="panel-heading"> 
						<h3 class="panel-title" th:text="'Demandes de remboursement de la note pour ' + ${moisNote}"></h3>
					</div>
					<div th:if="${missions != null}">
						<div th:each="mission : ${missions}">
							<div class="panel" style="margin-bottom: 1px; background:">
								<div class="panel-heading">
									<span th:text="${mission.titre}" style="font-size: 1.2em;"></span>
									<a class="glyphicon glyphicon-menu-down pull-right" data-toggle="collapse" th:href="'#collapse-' + ${mission.mission_id}"></a>
								</div>
							</div>
							<div th:id="'collapse-' + ${mission.mission_id}" class="panel-collapse collapse">
								<table class="table table-striped w-auto" style="margin-bottom:0px;">
									<colgroup>
										<col style="width:12.5%" span="8" />
									</colgroup>
									<thead>
										<tr>
											<th>Nom</th>
											<th>Prix</th>
											<th>Mission</th>
											<th>Date</th>
											<th>Etat (Chef de service)</th>
											<th>Etat (Finances)</th>
											<th>Modifier</th>
											<th>Supprimer</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="demandeR : ${remboursementsMissions[mission.mission_id]}">
											<td><a th:href="'/remboursements/note=' + ${moisUrl} + '/remboursement_id=' + ${demandeR.demande_id}" th:text="${demandeR.titre}"></a></td>
											<td th:text="${#numbers.formatDecimal(demandeR.montant, 0, 'COMMA', 2, 'POINT')} + ' €'"></td>
											<td th:text="${mission.titre}"></td>
											<td th:text="${demandeR.date}"></td>
											<td th:text="${demandeR.validationchefservice}"></td>
											<td th:text="${demandeR.validationfinances}"></td>
											<td>
												<a type="button" class="btn btn-primary" th:href="'/remboursements/note=' + ${moisUrl} + '/remboursement_id=' + ${demandeR.demande_id} + '/edit'">
													<span class="glyphicon glyphicon-search"></span>
												</a>
											</td>
											<td>
												<button data-toggle="modal" data-target="#warning_msg" value="suppr" type="button" class="btn btn-danger">
													<span class="glyphicon glyphicon-ban-circle"></span>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div th:if="${missions == null}" class="panel-heading" style="color:black; background:white;">
						<h3 class="panel-title">Vous n'avez pas crée de note de frais pour ce mois</h3>
					</div>
					<div th:if="${#lists.isEmpty(missions)}" class="panel-heading" style="color:black; background:white;">
						<h3 class="panel-title">Votre note de frais est vide</h3>
					</div>
				</div>
			</div>
			<div th:if="${isModifiable}" class="col-md-3">
				<a th:href="@{'/remboursements/demande-remboursement?mois=' + ${actuel ? 'actuel' : 'precedent'}}" class="btn btn-primary" role="button">
					Ajouter une demande de remboursement
				</a>
			</div>
		</section>
	</div>
	
	<div class="modal fade" id="warning_msg" role="dialog">
			<div class="modal-dialog modal-sm"> 
				<div class="modal-content panel-danger">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Confirmation de suppression</h4>
					</div>
					<div class="modal-body">
						<p>Voulez-vous vraiment supprimer cet utilisateur?</p>
					</div>
					<div class="modal-footer">
						<a class="btn btn-danger" id="deleteButton">Delete</a>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
					</div>
				</div>
			</div>
		</div>


	<script type="text/javascript" src="/assets/js/jquery.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="/assets/js/scripts.js"></script>  
</body>
</html>