<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Erreur 404 - Not found</title>
	<meta charset="utf-8">
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" />
	<link href='/assets/css/calendrier.css' rel='stylesheet' />
	<link href='/assets/css/calendrier.print.css' rel='stylesheet' />    
</head>

<body>
	<div class="container">
		<div th:replace="~{navBar :: #navBar}"></div>
		<br/>
		
		<section class="row">
			<div class="col-md-12">
				<h2>Erreur 404</h2>
				<div>
					La page demandée n'existe pas
				</div>
			</div>
		</section>
	</div>

	<script type="text/javascript" src="/assets/js/jquery.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="/assets/js/scripts.js"></script>  
</body>
</html>