<!DOCTYPE html>
<html script="" style="background-color:#dbedff;">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PoPS1819</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <link rel="stylesheet" href="assets/css/untitled.css">

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</head>

<body style="background-color:#dbedff;font-family:arial;">
    <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search" style="background-color:#3472d5;padding-right:0px;">
        <div class="container"><a class="navbar-brand" href="#">&nbsp;CodeMasters</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"></button>
            <div class="collapse navbar-collapse" id="navcol-1" style="width:90%;">
                <ul class="nav navbar-nav">
                    <li class="dropdown d-flex align-items-center"><a class="dropdown-toggle nav-link dropdown-toggle d-flex align-items-center" data-toggle="dropdown" aria-expanded="false" href="#" style="margin:0px;margin-top:0px;background-color:rgba(255,255,255,0);"><i class="fa fa-sticky-note-o"></i>&nbsp; Notes de frais&nbsp;</a>
                        <div
                            class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Nouvelle Note de frais</a><a class="dropdown-item" role="presentation" href="#">Gérer mes notes de frais</a>
                            <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item" role="presentation" href="#">Valider des notes de frais</a></div>
            </li>
            <li class="dropdown d-flex align-items-center"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="margin-top:0px;background-color:rgba(255,255,255,0);"><i class="fa fa-calendar"></i>&nbsp; Congés&nbsp;</a>
                <div class="dropdown-menu"
                    role="menu" style="margin-top:2px;"><a class="dropdown-item" role="presentation" href="#">Nouvelle demande de congé</a><a class="dropdown-item" role="presentation" href="#">Gérer mes demandes de congé</a>
                    <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item" role="presentation" href="#">Valider des demandes de congés</a><a class="dropdown-item" role="presentation" href="#">Menu Item</a></div>
            </li>
            </ul>
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item float-right" role="presentation"><a class="nav-link active d-flex align-items-center" href="#" style="height:80px;margin-left:0px;padding-right:12px;"><button class="btn btn-link btn-sm ml-auto btn-circle" type="button" style="border-radius:50px;/*border:1px solid black;*/background-color:rgba(0,0,0,0);margin-right:0px;margin-top:0px;width:50px;height:50px;"><i class="fa fa-bell" style="color:#ffffff;font-size:30px;"></i></button></a></li>
                <li
                    class="dropdown d-flex align-items-center align-content-center"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#" style="margin-left:0px;color:#ffffff;background-color:rgba(255,255,255,0);"><button class="btn btn-link btn-circle" type="button" style="border-radius:50px;/*border:1px solid black;*/background-color:#525b63;width:55px;height:50px;"><i class="fa fa-users" style="color:#ffffff;font-size:30px;"></i></button> </a>
                    <div
                        class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">Profil</a><a class="dropdown-item" role="presentation" href="#">Settings</a>
                        <div class="dropdown-divider" role="presentation"></div><a class="dropdown-item" role="presentation" href="#">Déconnexion</a></div>
        </li>
        </ul>
        </div>
        </div>
    </nav>
    <h2 class="text-center rounded" style="margin-top:10px;width:70%;margin-right:15%;margin-left:15%;color:#fff;background-color:#3472d5;font-size:25px;">Nouvelle Note de Frais</h2>
    <div class="row justify-content-center align-items-center" style="margin-left:0px;margin-right:0px;margin-top:30px;width:100%;padding-left:4%;padding-right:4%;margin-bottom:30px;">
        <div class="col" style="width:100%;">
            <div class="d-inline-flex" style="width:100%;">
                <h4 style="width:70px;margin-right:19px;font-size:20px;">Nom:</h4><input class="form-control-sm" type="text" style="width:80%;height:28px;"></div>
        </div>
        <div class="col">
            <div class="d-inline-flex" style="width:399px;margin-right:15px;">
                <h4 style="width:97px;margin-right:19px;font-size:20px;">Mission:</h4>
                <div class="dropdown"><button class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false" type="button" style="width:300px;background-color:rgba(0,123,255,0);color:rgb(0,0,0);">Choisissez votre mission&nbsp;</button>
                    <div class="dropdown-menu"
                        role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row align-items-center" style="width:100%;margin-right:0px;margin-left:0px;padding-right:4%;padding-left:4%;">
        <div class="col-xl-12" style="width:1200px;padding-right:0px;padding-left:0px;">
            <h3 class="text-center rounded" style="background-color:#3472d5;color:#fff;font-size:20px;width:75%;margin-left:12.5%;margin-right:12.5%;">Frais</h3>
            <div class="table-responsive order-list" style="padding-top:0px;padding-left:10px;font-size:14px;">
                <table class="table order-list">
                    <thead>
                        <tr>
                            <th style="width:218px;">Motif</th>
                            <th style="width:158px;">Date</th>
                            <th style="width:100px;">Montant</th>
                            <th style="width:350px;">Justificatif</th>
                            <th style="width:100px;"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="text" style="width:100%;"></td>
                            <td style="padding-right:0px;"><input type="date" style="width:100%;"></td>
                            <td style="padding-bottom:0px;padding-top:012px;"><input type="number" style="width:100%;padding-top:12px;height:30px;padding-bottom:12px;"></td>
                            <td><input type="file"></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div><button class="btn btn-primary active" type="submit" id="addrow" style="background-color:rgb(96,0,218);width:30%;margin-right:35%;margin-left:35%;font-size:13px;" value="Add Row">Ajouter une dépense</button></div>
    <div class="align-items-center" style="margin-top:15px;margin-bottom:15px;"><span class="text-capitalize" style="width:30%;margin-left:35%;">Montant total :&nbsp;</span></div>
    <div><button class="btn btn-primary active" type="submit" style="background-color:rgb(0,218,9);width:30%;margin-right:35%;margin-left:35%;">Valider</button></div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/addRow.js"></script>
</body>

</html>