<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Formulaire de création de demande de remboursement</title>
	</head>
    <body>
        <!-- Include _menu.html -->
      	<th:block th:include="/_menu"></th:block>
      	
        <form action="#" th:action="@{/test}" th:object="${remboursementForm}" method="post">
            <table>
                <tr>
                	<td>Mission associée : </td>
                    <td><select th:field="*{mission}">
          				<option value="Nothing"> -- </option>
          				<option th:each="mission : ${missions}" th:value="${mission.mission_id}" th:text="${mission.mission_id} + ' : ' + ${mission.titre}"></option>
      				</select></td>
                </tr>
                
                <tr>
                    <td>Titre de la demande : </td>
                    <td><input type="text" th:field="*{titre}" /></td>
                    
                    <td th:if="${#fields.hasErrors('titre')}" th:errors="*{titre}">Titre incorrect</td>
                    
                </tr>
                
                <tr>
                    <td>Montant : </td>
                    <td><input type="text" th:field="*{montant}" /></td>
                    <td th:if="${#fields.hasErrors('montant')}" th:errors="*{montant}">Montant incorrect</td>
                </tr>
                
                <tr>
                    <td>Date : </td>
                    <td><input type="text" th:field="*{date}" /></td>
                    <td th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Erreur dans la date</td>
                </tr>
                
                <tr>
                    <td>Motif : </td>
                    <td><input type="text" style="width: 300px; height: 300px;" th:field="*{motif}" /></td>
                    <td th:if="${#fields.hasErrors('motif')}" th:errors="*{motif}">erreur dateNaissance</td>
                </tr>
                
                <tr>
            		<td>Justificatif : </td>
            		<td><input type="file" name="file" /></td>
        		</tr>
           			
                <tr>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
	
	<div th:if="${message}">
		<h2 th:text="${message}"></h2>
	</div>
	
    </body>
</html>