<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title}"></title>
	<meta charset="utf-8">
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" />   
</head>

<body>

	<div id='calendar'></div>
	<div class="container">
	
		<div th:replace="~{navBar :: #navBar}"></div>
		<br>
		<br>
		<section class="row">
			<div class="col-md-6">
				<section class="row">
					<div class="col-md-10">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Notes de frais</h3>
							</div>
							<div class="list-group">
								<a th:if="${noteMoisActuel == null}" th:href="@{'/remboursements/creer-note-frais?mois=actuel'}" th:text="'Créer une note de frais pour le ' + ${moisActuel} + ' (mois actuel)'" class="list-group-item" data-toggle="modal"></a>
								<a th:if="${noteMoisActuel != null}" th:href="@{'/remboursements/note=' + ${noteMoisActuel.mois}}" th:text="${noteMoisActuel.mois} + ' (mois actuel)'" class="list-group-item" data-toggle="modal"></a>
								<a th:if="${noteMoisPrecedent == null}" th:href="@{'/remboursements/creer-note-frais?mois=precedent'}" th:text="'Créer une note de frais pour le ' + ${moisPrecedent} + ' (mois précédent)'" class="list-group-item" data-toggle="modal"></a>
								<a th:if="${noteMoisPrecedent != null}" th:href="@{'/remboursements/note=' + ${noteMoisPrecedent.mois}}" th:text="${noteMoisPrecedent.mois} + ' (mois précédent)'" class="list-group-item" data-toggle="modal"></a>
								<div th:if="${not #lists.isEmpty(listeNotes)}">
									<div class="panel-heading" style="background:#337ab7;">
										<h3 class="panel-title" style="color:white;">Autres notes de frais</h3>
									</div>
									<a th:each="note : ${listeNotes}" th:href="@{'/remboursements/note=' + ${note.mois}}" th:text="${note.mois}" class="list-group-item" data-toggle="modal"></a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="col-md-6">
				<div class="panel panel-primary table-responsive">
					<table class="table table-striped w-auto">
						<div class="panel-heading"> 
							<h3 class="panel-title">Demandes de remboursement</h3>
						</div>
						<div th:if="${missions != null}">
							<div th:each="mission : ${missions}">
								<thead>
									<tr>
										<th>
											<div class="panel-heading" style="background:#337ab7;">
												<h3 th:text="${mission.titre}" class="panel-title" style="color:white;"></h3>
											</div>
										</th>
									</tr>
									<tr>
										<th>Nom</th>
										<th>Prix</th>
										<th>Mission</th>
										<th>Date</th>
										<th>Etat (Chef de service)</th>
										<th>Etat (Finances)</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="demandeR : ${remboursementsMissions[mission.mission_id]}">
										<td><a href="#" th:text="${demandeR.titre}"></a></td>
										<td th:text="${#numbers.formatDecimal(demandeR.montant, 0, 'COMMA', 2, 'POINT')} + ' €'"></td>
										<td th:text="${mission.titre}"></td>
										<td th:text="${demandeR.date}"></td>
										<td th:text="${demandeR.validationchefservice}"></td>
										<td th:text="${demandeR.validationfinances}"></td>
									</tr>
								</tbody>
							</div>
						</div>
					</table>
				</div>
			</div>
		</section>
	</div>


<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>  
</body>
</html>