<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title}"></title>
	<meta charset="utf-8">
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" />   
</head>

<body>

	<div id='calendar'></div>
	<div class="container">
	
		<div th:replace="~{navBar :: #navBar}"></div>
		<br>
		<br>
		<section class="row">
			<div class="col-md-4">
				<section class="row">
					<div class="col-md-10">
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h3 class="panel-title">Notes de frais</h3>
							</div>
							<div class="list-group">
								<a th:if="${noteMoisActuel == null}" th:href="@{'/remboursements/creer-note-frais?mois=actuel'}" th:text="'Créer une note de frais pour le ' + ${moisActuel} + ' (mois actuel)'" class="list-group-item" data-toggle="modal"></a>
								<a th:if="${noteMoisActuel != null}" th:href="@{'/remboursements/note=' + ${noteMoisActuel.mois}}" th:text="${moisNotes[noteMoisActuel.note_id]} + ' (mois actuel)'" class="list-group-item" data-toggle="modal"></a>
								<a th:if="${noteMoisPrecedent == null}" th:href="@{'/remboursements/creer-note-frais?mois=precedent'}" th:text="'Créer une note de frais pour le ' + ${moisPrecedent} + ' (mois précédent)'" class="list-group-item" data-toggle="modal"></a>
								<a th:if="${noteMoisPrecedent != null}" th:href="@{'/remboursements/note=' + ${noteMoisPrecedent.mois}}" th:text="${moisNotes[noteMoisPrecedent.note_id]} + ' (mois précédent)'" class="list-group-item" data-toggle="modal"></a>
								<div th:if="${not #lists.isEmpty(listeNotes)}">
									<div class="panel-heading" style="background:#337ab7;">
										<h3 class="panel-title" style="color:white;">Autres notes de frais</h3>
									</div>
									<a th:each="note : ${listeNotes}" th:href="@{'/remboursements/note=' + ${note.mois}}" th:text="${moisNotes[note.note_id]}" class="list-group-item" data-toggle="modal"></a>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="col-md-8">
			<div class="panel panel-primary table-responsive">
				<div class="panel-heading"> 
					<h3 class="panel-title">Demandes de remboursement de la note de ce mois</h3>
				</div>
				<div th:if="${missions != null}">
					<div th:each="mission : ${missions}">
						<div class="panel" style="margin-bottom: 1px; background:">
								<div class="panel-heading">
									<span th:text="${mission.titre}" style="font-size: 1.2em;"></span>
									<a data-toggle="collapse" aria-expanded="false" th:href="'#collapse-' + ${mission.mission_id}">
										<i class="glyphicon glyphicon-menu-down pull-right"></i>
        								<i class="glyphicon glyphicon-menu-up pull-right"></i>
									</a>
								</div>
							</div>
							<div th:id="'collapse-' + ${mission.mission_id}" class="panel-collapse collapse">
								<table class="table table-striped w-auto" style="margin-bottom:0px;">
									<colgroup>
										<col style="width:12.5%" span="8" />
									</colgroup>
									<thead>
										<tr>
											<th>Nom</th>
											<th>Montant</th>
											<th>Mission</th>
											<th>Date</th>
											<th>Etat (Chef de service)</th>
											<th>Etat (Finances)</th>
											<th>Modifier</th>
											<th>Supprimer</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="demandeR : ${remboursementsMissions[mission.mission_id]}">
											<td><a th:href="'/remboursements/note=' + ${noteMoisActuel.mois} + '/remboursement_id=' + ${demandeR.demande_id}" th:text="${demandeR.titre}"></a></td>
											<td th:text="${#numbers.formatDecimal(demandeR.montant, 0, 'COMMA', 2, 'POINT')} + ' €'"></td>
											<td th:text="${mission.titre}"></td>
											<td th:text="${demandeR.date}"></td>
											<td th:text="${demandeR.validationchefservice}"></td>
											<td th:text="${demandeR.validationfinances}"></td>
											<td>
												<a type="button" class="btn btn-primary" th:if="${demandeR.validationchefservice == enAttente and demandeR.validationfinances == enAttente}" th:href="'/remboursements/note=' + ${moisUrl} + '/remboursement_id=' + ${demandeR.demande_id} + '/edit'">
													<span class="glyphicon glyphicon-search"></span>
												</a>
											</td>
											<td>
												<button th:id="${demandeR.demande_id}" data-toggle="modal" data-target="#warning_msg" value="suppr" type="button" class="btn btn-danger">
													<span class="glyphicon glyphicon-ban-circle"></span>
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>
					<div th:if="${missions == null}" class="panel-heading" style="color:black; background:white;">
						<h3 class="panel-title">Vous n'avez pas crée de note de frais pour ce mois</h3>
					</div>
					<div th:if="${#lists.isEmpty(missions)}" class="panel-heading" style="color:black; background:white;">
						<h3 class="panel-title">Votre note de frais est vide</h3>
					</div>
				</div>
			</div>
		</section>
	</div>


<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>  
</body>
</html>