<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <meta charset="utf-8"/>
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/style.css" />    
</head>

<body>
    <div class="container">

        <div th:replace="~{navBar :: #navBar}"></div>

        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" action="#" th:action="@{/roleChanged}" th:object="${userForm}" centered>
                <div class="form-group">
                    <label class="control-label" for="nom">Nom</label>  
                    <div>
                        <span th:text="${user.nom}"> Nom </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="prenom">Prénom</label>  
                    <div>
                        <span th:text="${user.prenom}"> Prenom </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="numTel">Téléphone</label>  
                    <div>
                        <span th:text="${user.numTel}"> numTel </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="dateNaissance">Date de naissance</label>  
                    <div>
                        <span th:text="${user.dateNaissance}"> dateNaissance </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="joursCongesRest">Jours de congés restants</label>  
                    <div>
                        <span th:text="${user.joursCongesRest}"> joursCongesRest </span>
         				<input type="hidden" th:field="${user.uid}" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="role">Rôle</label>
                    <div>
                        <span th:text="${roles.get(user.role_id)}"> role </span>
                  	</div>
                  	<div>
                        <label> Changer pour :</label>
                        <select th:field="${user.role_id}">
                          	<option value="0"> -- </option>
                         	<option th:each="role_id : ${roles_ids}" th:value="${role_id}" th:text="${roles.get(role_id)}"></option>
                        </select>  
                  </div>
              </div>
              
              <div class="form-group">
                    <label class="control-label" for="role">Service</label>
                    <div>
                        <span th:text="${services.get(user.service_id)}"> Service </span>
                  	</div>
                  	<div>
                        <label> Changer pour : </label>
                        <select th:field="${user.service_id}">
                          	<option value="0"> -- </option>
                         	<option th:each="service_id : ${services_ids}" th:value="${service_id}" th:text="${services.get(service_id)}"></option> 
                        </select>  
                  </div>
              </div>
              
              <div class="form-group">
              	<label class="control-label" for="isAdmin">Statut administrateur : </label>
              	<div>
              		<span th:text="'Statut administrateur : ' + ${user.isAdmin == true ? 'oui' : 'non'}"> Admin </span>
              	</div>
				<div>
					<label>Donner le statut admin : </label>
					<input type="checkbox" id="isAdmin" name="isAdmin" class="form-control" th:field="*{isAdmin}" th:value="true">
				</div>
			 </div>
              
              <button id="post" name="" type="submit" class="btn btn-primary">Confirmer</button>
          </form>
		</div>
	</div>
	<script type="text/javascript" src="/assets/js/jquery.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="/assets/js/scripts.js"></script> 
</body>
</html>
