<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title}"></title>
	<meta charset="utf-8"/>
	<link href="/assets/css/bootstrap.css" rel="stylesheet"/>
	<link rel="stylesheet" href="/assets/css/style.css" />    
</head>

<body>
	<div class="container">
		
		<div th:replace="~{navBar :: #navBar}"></div>
		
		<div th:if="${editForm != null}" class="col-md-6" style="margin-bottom:20px;">
			<div class="border-detail">
				<div class="panel panel-primary" style="margin-bottom:0px;">
					<div class="panel-heading">
						<h3 class="panel-title">Informations sur l'utilisateur</h3>
					</div>
				</div>
				<form class="form-horizontal" th:action="@{/adminShow}" th:object="${editForm}" method="post">
					<input type="hidden" th:field="*{uid}">
					<input id="noMdp" type="hidden" th:field="*{mdp}">
					<div class="col-offset-1 col-10 col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 col-xl-offset-1 col-xl-10">
						<br>
						<div th:if="${success != null}" class="thumbnail btn-bottom">
							<span th:text="${success ? 'Modification effectuée avec succès' : 'Aucune modification effectuée'}" th:class="${success ? 'text-success' : 'text-danger'}" style="font-weight: bold; text-align:center;"></span>
						</div>	
						<div class="input-desc">
							<span> Prenom </span>
							<input th:field="*{prenom}" class="form-control" readonly>
						</div>
						<br>
						
						<div class="input-desc">
							<span> Nom </span>
							<input th:field="*{nom}" class="form-control" readonly>
						</div>
						<br>
						
						<div class="input-desc">
							<span> Numero de télephone </span>	
							<input th:field="*{numTel}" class="form-control">
						</div>
						<label class="bg-warning text-danger text-center" th:if="${#fields.hasErrors('numTel')}" th:errors="*{numTel}" style="margin-bottom:15px;"></label>
						<br>
						
						<div class="input-desc">
							<span> Heures de travail par semaine </span>
							<input th:field="*{heurestravail}" class="form-control">		
						</div>
						<label class="bg-warning text-danger text-center" th:if="${#fields.hasErrors('heurestravail')}" th:errors="*{heurestravail}" style="margin-bottom:15px;"></label>
						<br>
						
						<div class="input-desc">
							<span> Jours de congés restants </span>
							<input th:field="*{joursCongesRest}" class="form-control" readonly>				
						</div>
						<br>
						
						<div class="input-desc">
							<span> Jours de RTT restants </span>	
							<input th:field="*{rtt}" class="form-control" readonly>
							</div>
						<br>
						
						<div class="input-desc">
							<span> Service </span>
							<select th:field="*{service_id}" class="form-control">
								<option th:each="service_id : ${services_ids}" th:value="${service_id}" th:text="${services.get(service_id)}"></option> 
							</select>  		
						</div>
						<br>
						
						<div class="input-desc">
							<span> Role </span>	
							<select th:field="*{role_id}" class="form-control">
								<option th:each="role_id : ${roles_ids}" th:value="${role_id}" th:text="${roles.get(role_id)}"></option>
							</select>		
						</div>
						<br>
						
						<div class="input-desc">
							<span> Administrateur </span>
							<input type="checkbox" id="isAdmin" name="isAdmin" th:field="*{isAdmin}" th:value="true">		
						</div>
						<br>
					</div>
					<button id="post" type="submit" class="btn btn-primary" style="width:100%;">
						<h3 class="panel-title" style="font-weight:bold;">Modifier le profil de l'utilisateur</h3>
					</button>
				</form>	
			</div>
		</div>

		<div th:class="${editForm != null} ? 'col-md-6' : 'col-md-offset-1 col-md-10'">
			<div class="panel panel-primary table-responsive">
				<div class="panel-heading"> 
					<h3 class="panel-title">Liste des utilisateurs</h3>
				</div>
				<table class="table table-striped table-condensed table-bordered">
					<colgroup>
						<col style="width:40%" span="2" />
						<col style="width:10%" span="2" />
					</colgroup>
					<tr>
						<td class="scroll-head">Nom</td>
						<td class="scroll-head">Prénom</td>
						<td class="scroll-head">Détails</td>
						<td class="scroll-head">Suppr</td>
					</tr>
				</table>
				<div class="scroll">
					<table class="table table-striped table-condensed table-bordered" style="margin-bottom:0px;">
						<tr th:if="${listUsers.empty}">
							<td colspan="2">Pas d'utilisateurs !</td>
						</tr>
						<colgroup>
							<col style="width:40%" span="2" />
							<col style="width:10%" span="2" />
						</colgroup>
						<tr th:each="user : ${listUsers}" >
							<td><span th:text="${user.Nom}"> Nom </span></td>	
							<td><span th:text="${user.Prenom}"> Prenom </span></td>
							<td>
								<a id="details" th:href="@{'/adminShow?user_id='+${user.UID}}" type="button" class="btn btn-primary">
									<span class="glyphicon glyphicon-search"></span>
								</a>
							</td>
							<td>
								<div th:unless="${user.UID} eq ${notAdmin}">
									<button th:id="${user.UID}" data-toggle="modal" data-target="#warning_msg" value="suppr" type="button" class="btn btn-danger" >
										<span class="glyphicon glyphicon-ban-circle"></span>
									</button>
								</div>
							</td>				
						</tr>
					</table>
				</div>
				<button data-toggle="modal" data-target="#formulaire" class="btn btn-success btn-block" type="button">
					<h3 class="panel-title" style="font-weight:bold;">Ajouter un utilisateur</h3>
				</button>
			</div>
		</div>
		
		<div th:replace="~{addUserForm :: #formulaire}"></div>

		<div class="modal fade" id="success_msg" role="dialog">
			<div class="modal-dialog modal-sm"> 
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Réussite</h4>
					</div>
					<div class="modal-body">
						<p>Utilisateur ajouté</p>
					</div>
					<div class="modal-footer">
						<a th:href="@{/adminShow}" class="btn btn-primary" role="button" data-dismiss="modal">Close</a>
					</div>
				</div>
			</div>
		</div>

		<div class="modal fade" id="warning_msg" role="dialog">
			<div class="modal-dialog modal-sm"> 
				<div class="modal-content panel-danger">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Confirmation de suppression</h4>
					</div>
					<div class="modal-body">
						<p>Voulez-vous vraiment supprimer cet utilisateur?</p>
					</div>
					<div class="modal-footer">
						<a class="btn btn-danger" id="deleteButton" onclick="deleteUser()">Supprimer</a>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
					</div>
				</div>
			</div>
		</div>

	</div>


	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/bootstrap.js"></script>
	<script src="/assets/js/scripts.js"></script>
</body>
</html>