<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:utext="${title}"></title>
    <meta charset="utf-8"/>
    <link href="/assets/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/assets/css/style.css" />    
</head>

<body>
    <div class="container">

        <div th:replace="~{navBar :: #navBar}"></div>

        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal" action="#" th:action="@{/roleChanged}" th:object="${userForm}" style="text-align: center;">
                <div class="form-group">
                    <label class="control-label" for="nom">Nom</label>  
                    <div>
                        <span th:text="${user.nom}"> Nom </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="prenom">Prénom</label>  
                    <div>
                        <span th:text="${user.prenom}"> Prenom </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="numTel">Téléphone</label>  
                    <div>
                        <span th:text="${user.numTel}"> numTel </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="dateNaissance">Date de naissance</label>  
                    <div>
                        <span th:text="${user.dateNaissance}"> dateNaissance </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="joursCongesRest">Jours de congés restants</label>  
                    <div>
                        <span th:text="${user.joursCongesRest}"> joursCongesRest </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="role">Rôle</label>
                    <div>
                        <span th:text="${user.role}"> role </span>
                  	</div>
                  	<div>
                        <label> Changer pour :</label>
                        <select th:field="${user.role}">
                          	<option value="NoChanges"> -- </option>
                          	<option value="Admin">Admin</option>
                         	<option value="UserInfo">UserInfo</option>
                         	<option value="ChefInfo">ChefInfo</option>
                          	<option value="UserFinances">UserFinances</option>
                          	<option value="ChefFinances">ChefFinances</option>
                          	<option value="RH">RH</option>   
                        </select>  
                        <input type="hidden" th:field="${user.uid}" />
                  </div>
              </div>
              <button id="post" name="" type="submit" class="btn btn-primary">Confirmer</button>
          </form>
		</div>
	</div>
	<script type="text/javascript" src="/assets/js/jquery.js"></script>
	<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
	<script type="text/javascript" src="/assets/js/scripts.js"></script> 
</body>
</html>
