<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="${title}"></title>
<meta charset="utf-8">
<link href="assets/css/bootstrap.css" rel="stylesheet">
<link rel="stylesheet" href="assets/css/style.css" />
</head>

<body>
	<div class="container">
		<!--Barre de navigation-->
		<div th:replace="~{navBar :: #navBar}"></div>

		<section class="row">
			<!--Colonne de la liste des notes de frais-->
			<div class="col-md-5">
				<div class="panel panel-primary">
					<div class="table-responsive panel panel-primary">
						<table class="table  table-condensed" id="ListNDFValidation">
							<div class="panel-heading">
								<h2 class="panel-title text-center">Demandes de
									remboursement</h2>
							</div>
							<thead>
								<tr>
									<th>Employé</th>
									<th>Nom</th>
									<th>Date</th>
									<th>Montant</th>
								</tr>
							</thead>
							<tbody>
								<tr th:if="${remboursements.empty}">
									<td colspan="4">Vous n'avez pas de validations de remboursement</td>
								</tr>
								<tr th:each="remb : ${remboursements}">
									<td><span th:text="${remb.prenomnom}"> prenomNom </span></td>
									<td><span th:text="${remb.titre}"> Titre </span></td>
									<td><span th:text="${remb.date}"> Date </span></td>
									<td><span th:text="${remb.montant}"> Montant </span></td>
									<td style="display: none;"><span th:text="${remb.validationfinances}"> VRH </span></td>
									<td style="display: none;"><span th:text="${remb.validationchefservice}"> VCS </span></td>
									<td style="display: none;"><span th:text="${remb.etatFinal}"> VCS </span></td>
									<td style="display: none;"><span th:text="${remb.demande_id}"> UID </span></td>
									<td style="display: none;"><span th:text="${remb.justificatifid}"> JID </span></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!--Colonne des détails de notes de frais-->
			<div class="col-md-7" value="locked" id="ndf">
				<div class="panel panel-primary">
					<div class="panel-heading">
						<h2 class="panel-title text-center">Détails de la demande de
							remboursement</h2>
					</div>
					<div class="panel-body">
						<!--Détails de notes de frais-->
						<div class="details">
							<div class="row ">
								<br>
								<div class="col-sm-6">
									<label id="employe">Nom de l'employé:</label>
								</div>
								<div class="col-sm-6">
									<label id="date">Date:</label>
								</div>
							</div>
							<div class="row ">
								<div class="col-sm-6">
									<label id="mission">Mission:</label>
								</div>
								<div class="col-sm-6">
									<label id="montant">Montant total:</label>
								</div>
							</div>
							<div class="row ">
								<div class="col-sm-3">
									<label>Validation Finances:</label>
								</div>
								<div class="col-sm-3">
									<label id="validationfinances">-<label>
								</div>
								<div class="col-sm-3">
									<label>Validation Chef de Service:</label>
								</div>
								<div class="col-sm-3">
									<label id="validationcds">-<label>
								</div>
							</div>
							<br>
							<div class="row" id="justif" hidden=true centered>
								<a href="" id='download' class="btn btn-primary"  >Telecharger le justificatif</a>
							</div>
							<br>
						<div centered class="row" hidden=true id="bouttons">
							<a href="" id='accept' class="btn btn-primary btn-lg">
								<span class="glyphicon glyphicon-ok"></span> 
							</a> 
							<a href="" id='refuse' class="btn btn-danger btn-lg">
								<span class="glyphicon glyphicon-ban-circle"></span> 
							</a>
						</div>
						<br>
					</div>
				</div>
			</div>
		</section>
	</div>
	<script src="assets/js/jquery.js"></script>
	<script src="assets/js/bootstrap.js"></script>
	<script src="assets/js/scripts.js"></script>
	<script src="assets/js/addRow.js"></script>
</body>
</html>