<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title}"></title>
	<meta charset="utf-8">
	<link href="/assets/css/bootstrap.css" rel="stylesheet">
	<link rel="stylesheet" href="/assets/css/style.css" />
	<link href='/assets/css/calendrier.css' rel='stylesheet' />
	<link href='/assets/css/calendrier.print.css' rel='stylesheet' />    
</head>

<body>

	<div id='calendar'></div>
	<div class="container">
		
		<div th:replace="~{navBar :: #navBar}"></div>

		<br>

		<section class="boxAccueil row panel panel-primary ">
			
					<div class="col-md-4">
						<h4 th:if="${WelcomeMsg != null}" th:utext="${WelcomeMsg}"></h4>
						<div style="text-decoration-color: red;" th:if="${NotifNote != null}">
							<h4 th:text="${NotifNote}"></h4>
							<a href="/remboursements/creer-note-frais?mois=precedent" class="btn btn-primary" role="button">
								Créer une note de frais pour le mois précédent
							</a>
						</div>
					</div>
					<div class="col-md-4">
						<a href="/AjouterConge" class="btn btn-primary" role="button">
							Nouvelle demande de congés
						</a>
					</div>
					<div class="col-md-4">
						<a href="/remboursements/demande-remboursement" class="btn btn-primary" role="button">
							Nouvelle demande de remboursement
						</a>
					</div>
				
		</section>

	<br>
	<section class="row">
		<div class="col-md-6">
			<section class="row">
				<div class="col-md-10">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">Dernières notifications</h3>
						</div>
						<div class="list-group" th:each="notif : ${notifs}">
							<a th:href="${notif.lien}" class="list-group-item" data-toggle="modal">
								<span th:text="${notif.description}"></span>
								<span class="badge" th:text="${notif.date}"></span>
							</a>
						</div>
					</div>
				</div>
			</section>
		</div>
		<div class="col-md-6">
			<div class="panel panel-primary boxAccueilConges">
				<section class="row">
					<div class="col-md-12">
						<h2>Mes congés</h2>
						<h4 th:text="${joursConges}"></h4>
						<!-- <h4>RTT(s) restant(s) : 0.0</h4> -->
					</div>
				</section>
				<section class="row">
					<div class="col-md-offset-4 col-md-4">
						<a href="/Calendrier" class="btn btn-primary" type="button">
							Voir calendrier
						</a>
					</div>
				</section>
				<br>
			</div>
			
			<section class="row">
				<div class="col-md-12 col-xs-12">
					<div class="panel panel-primary table-responsive">
						<table class="table table-striped w-auto">
							<div class="panel-heading"> 
								<h3 class="panel-title">Mes dernières demandes de remboursement</h3>
							</div>
							<div th:if="${not #lists.isEmpty(recentDemandesRemboursement)}">
								<thead>
									<tr>
										<th>Titre</th>
										<th>Montant</th>
										<th>Mission</th>
										<th>Date</th>
										<th>Etat (Chef de service)</th>
										<th>Etat (Finances)</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="demandeR : ${recentDemandesRemboursement}">
										<td><a th:href="'/remboursements/note=' + ${notesAssociees[demandeR.demande_id]} + '/remboursement_id=' + ${demandeR.demande_id}" th:text="${demandeR.titre}"></a></td>
										<td th:text="${#numbers.formatDecimal(demandeR.montant, 0, 'COMMA', 2, 'POINT')} + ' €'"></td>
										<td th:text="${missionNames[demandeR.mission_id]}"></td>
										<td th:text="${demandeR.date}"></td>
										<td th:text="${demandeR.validationchefservice}"></td>
										<td th:text="${demandeR.validationfinances}"></td>
									</tr>
								</tbody>
							</div>
						</table>
						<div th:if="${#lists.isEmpty(recentDemandesRemboursement)}" class="panel-heading" style="color:black; background:white;"> 
							<h3 class="panel-title">Aucune demande de remboursement n'a été réalisé</h3>
						</div>
					</div>
				</div>
			</section>
		</div>
	</section>
	<section class="row">
		<div th:if="${isAdmin}">
			<div class="col-sm-3">
				<a href="/adminShow" class="btn btn-primary" role="button">
					Gérer les utilisateurs
				</a>
			</div>
		</div>
	</section>
</div>


<script type="text/javascript" src="/assets/js/jquery.js"></script>
<script type="text/javascript" src="/assets/js/bootstrap.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>  
</body>
</html>