<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title}"></title>
	<meta charset="utf-8"/>
	<link href="/assets/css/bootstrap.css" rel="stylesheet"/>
	<link rel="stylesheet" href="/assets/css/style.css" />    
</head>

<body>
	<div class="container">
		
		<div th:replace="~{navBar :: #navBar}"></div>

		<div class="col-md-offset-1 col-md-10">
			<div class="panel panel-primary table-responsive">
				<div class="panel-heading"> 
					<h3 class="panel-title">Liste des services</h3>
				</div>
				<div class="panel-default" style="margin-bottom:0px;" th:each="service_id : ${services_ids}">
					<div class="panel-heading" style="overflow: hidden;"> 
						<span th:text="${services.get(service_id)}"></span>
						<button th:id="${service_id}" data-toggle="modal" data-target="#warning_msg" type="button" value="suppr" class="btn btn-danger pull-right">
							<span class="glyphicon glyphicon-ban-circle"></span>
						</button>
					</div>
				</div>
				<button data-toggle="modal" data-target="#formulaire" class="btn btn-success btn-block" type="button">
					<h3 class="panel-title" style="font-weight:bold;">Ajouter un service</h3>
				</button>
			</div>
		</div>
		
	<div id="formulaireService">
		<div class="modal fade" id="formulaire" role="dialog">
			<div class="modal-dialog" role="document"> 
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Ajouter un service</h4>
					</div>
					<div class="modal-body">
						<form id="addServiceForm" class="form-horizontal" action="#" th:action="'/administration/gestion-service/create'" th:object="${serviceForm}" method="post">
							<div class="form-group">
								<label class="control-label" for="nom">Nom</label>  
								<div>
									<input id="nom" name="nom" type="text" placeholder="ex : Marketing" class="form-control input-md" th:field="*{nom}">
									<label class="bg-warning text-danger" id="nom_error" style="display:none;"></label>
									<label class="bg-warning text-danger" id="service_exists_error" style="display:none;"></label>
									
								</div>
							</div>
							<button id="post" name="" type="button" class="btn btn-primary" onclick="sendService()">Soumettre</button>
							<button class="btn btn-danger" data-dismiss="modal">Annuler</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="success_msg" role="dialog">
			<div class="modal-dialog modal-sm"> 
				<div class="modal-content panel-success">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Réussite</h4>
					</div>
					<div class="modal-body">
						<p>Service ajouté</p>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" role="button" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="success_delete" role="dialog">
			<div class="modal-dialog modal-sm"> 
				<div class="modal-content panel-success">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal" onclick="location.reload()">x</button>
						<h4 class="modal-title">Réussite</h4>
					</div>
					<div class="modal-body">
						<p>Service supprimé avec succès</p>
					</div>
					<div class="modal-footer">
						<button class="btn btn-primary" role="button" data-dismiss="modal" onclick="location.reload()">Fermer</button>
					</div>
				</div>
			</div>
		</div>
		
		<div class="modal fade" id="failure_msg" role="dialog">
			<div class="modal-dialog modal-sm"> 
				<div class="modal-content panel-danger">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Echec</h4>
					</div>
					<div class="modal-body">
						<p>Impossible de supprimer ce service : veuillez supprimer tous ses membres avant de réessayer</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Fermer</button>
					</div>
				</div>
			</div>
		</div>
	</div>

		<div class="modal fade" id="warning_msg" role="dialog">
			<div class="modal-dialog modal-sm"> 
				<div class="modal-content panel-danger">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Confirmation de suppression</h4>
					</div>
					<div class="modal-body">
						<p>Voulez-vous vraiment supprimer ce service ?</p>
					</div>
					<div class="modal-footer">
						<a class="btn btn-danger" id="deleteButton" onclick="deleteService()">Supprimer</a>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/bootstrap.js"></script>
	<script src="/assets/js/scripts.js"></script>
</body>
</html>