<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title th:utext="${title}"></title>
	<meta charset="utf-8"/>
	<link href="/assets/css/bootstrap.css" rel="stylesheet"/>
	<link rel="stylesheet" href="/assets/css/style.css" />    
</head>

<body>
	<div class="container">
		
		<div th:replace="~{navBar :: #navBar}"></div>
		
		<div th:if="${editForm != null}" class="col-md-6" style="margin-bottom:20px;">
			<div class="border-detail">
				<div class="panel panel-primary" style="margin-bottom:0px;">
					<div class="panel-heading">
						<h3 class="panel-title">Informations sur l'utilisateur</h3>
					</div>
				</div>
				<form class="form-horizontal" th:action="@{/administration/gestion-utilisateurs}" th:object="${editForm}" method="post">
					<input type="hidden" th:field="*{uid}">
					<input id="noMdp" type="hidden" th:field="*{mdp}">
					<div class="col-offset-1 col-10 col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10 col-xl-offset-1 col-xl-10">
						<br>
						<div th:if="${success != null}" class="thumbnail btn-bottom">
							<span th:text="${success ? 'Modification effectuée avec succès' : 'Aucune modification effectuée'}" th:class="${success ? 'text-success' : 'text-danger'}" style="font-weight: bold; text-align:center;"></span>
						</div>	
						<div class="input-desc">
							<span> Prenom </span>
							<input th:field="*{prenom}" class="form-control" readonly>
						</div>
						<br>
						
						<div class="input-desc">
							<span> Nom </span>
							<input th:field="*{nom}" class="form-control" readonly>
						</div>
						<br>
						
						<div class="input-desc">
							<span> Numero de télephone </span>	
							<input th:field="*{numTel}" class="form-control">
						</div>
						<label class="bg-warning text-danger text-center" th:if="${#fields.hasErrors('numTel')}" th:errors="*{numTel}" style="margin-bottom:15px;"></label>
						<br>
						
						<div class="input-desc">
							<span> Heures de travail par semaine </span>
							<input th:field="*{heurestravail}" class="form-control">		
						</div>
						<label class="bg-warning text-danger text-center" th:if="${#fields.hasErrors('heurestravail')}" th:errors="*{heurestravail}" style="margin-bottom:15px;"></label>
						<br>
						
						<div class="input-desc">
							<span> Jours de congés restants </span>
							<input th:field="*{joursCongesRest}" class="form-control" readonly>				
						</div>
						<br>
						
						<div class="input-desc">
							<span> Jours de RTT restants </span>	
							<input th:field="*{rtt}" class="form-control" readonly>
							</div>
						<br>
						
						<div class="input-desc">
							<span> Service </span>
							<select th:field="*{service_id}" class="form-control">
								<option th:each="service_id : ${services_ids}" th:value="${service_id}" th:text="${services.get(service_id)}"></option> 
							</select>  		
						</div>
						<br>
						
						<div class="input-desc">
							<span> Role </span>	
							<select th:field="*{role_id}" class="form-control">
								<option th:each="role_id : ${roles_ids}" th:value="${role_id}" th:text="${roles.get(role_id)}"></option>
							</select>		
						</div>
						<br>
						
						<div class="input-desc">
							<span> Administrateur </span>
							<input type="checkbox" id="isAdmin" name="isAdmin" th:field="*{isAdmin}" th:value="true">		
						</div>
						<br>
					</div>
					<button id="post" type="submit" class="btn btn-primary" style="width:100%;">
						<h3 class="panel-title" style="font-weight:bold;">Modifier le profil de l'utilisateur</h3>
					</button>
				</form>	
			</div>
		</div>

		<div th:class="${editForm != null} ? 'col-md-6' : 'col-md-offset-1 col-md-10'">
			<div class="panel panel-primary table-responsive">
				<div class="panel-heading"> 
					<h3 class="panel-title">Utilisateurs</h3>
				</div>
				<div th:each="service_id : ${services_ids}">
					<div class="panel panel-primary-light">
						<div class="panel-heading">
							<a data-toggle="collapse" aria-expanded="false" th:href="'#collapse-' + ${service_id}">
								<i class="glyphicon glyphicon-menu-down pull-right"></i>
	     							<i class="glyphicon glyphicon-menu-up pull-right"></i>
							</a>
							<span th:text="${services.get(service_id)}"></span>
							<span class="label label-primary label-pill" th:text="${nbMembresServices.get(service_id)}"></span>
						</div>
					</div>
					<div th:id="'collapse-' + ${service_id}" class="panel-collapse collapse">
						<div th:each="role_id : ${roles_ids_panel}">
							<div class="panel panel-gray" style="margin-bottom: 0px;">
								<div class="panel-heading">
									<a data-toggle="collapse" aria-expanded="false" th:href="'#collapse-' + ${service_id} + '-' + ${role_id}">
										<i class="glyphicon glyphicon-menu-down pull-right"></i>
			     						<i class="glyphicon glyphicon-menu-up pull-right"></i>
									</a>
									<span th:text="${roles_panel.get(role_id)}"></span>
									<span class="label label-info label-pill" th:text="${utilisateurs.get(role_id).get(service_id).size()}"></span>
								</div>
								<div th:id="'collapse-' + ${service_id} + '-' + ${role_id}" class="panel-collapse collapse">
									<table class="table table-striped w-auto" style="margin-bottom:0px;">
										<colgroup>
											<col style="width:25%" span="4" />
										</colgroup>
										<thead>
											<tr>
												<th>Nom</th>
												<th>Prénom</th>
												<th>Détails</th>
												<th>Suppr</th>
											</tr>
										</thead>
										<tbody>
											<tr th:each="user : ${utilisateurs.get(role_id).get(service_id)}" >
												<td><span th:text="${user.Nom}"> Nom </span></td>	
												<td><span th:text="${user.Prenom}"> Prenom </span></td>
												<td>
													<a id="details" th:href="'/administration/gestion-utilisateurs?id='+${user.UID}" type="button" class="btn btn-primary">
														<span class="glyphicon glyphicon-search"></span>
													</a>
												</td>
												<td>
													<div th:unless="${user.UID} eq ${notAdmin}">
														<button th:id="${user.UID}" data-toggle="modal" data-target="#warning_msg" value="suppr" type="button" class="btn btn-danger" >
															<span class="glyphicon glyphicon-ban-circle"></span>
														</button>
													</div>
												</td>				
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<button data-toggle="modal" data-target="#formulaire" class="btn btn-success btn-block" type="button">
					<h3 class="panel-title" style="font-weight:bold;">Ajouter un utilisateur</h3>
				</button>
			</div>
		</div>
		
		<div th:replace="~{addUserForm :: #formulaireUtilisateur}"></div>

		<div class="modal fade" id="warning_msg" role="dialog">
			<div class="modal-dialog modal-sm"> 
				<div class="modal-content panel-danger">
					<div class="modal-header panel-heading">
						<button type="button" class="close" data-dismiss="modal">x</button>
						<h4 class="modal-title">Confirmation de suppression</h4>
					</div>
					<div class="modal-body">
						<p>Voulez-vous vraiment supprimer cet utilisateur?</p>
					</div>
					<div class="modal-footer">
						<a class="btn btn-danger" id="deleteButton" onclick="deleteUser()">Supprimer</a>
						<button type="button" class="btn btn-primary" data-dismiss="modal">Annuler</button>
					</div>
				</div>
			</div>
		</div>
	</div>


	<script src="/assets/js/jquery.js"></script>
	<script src="/assets/js/bootstrap.js"></script>
	<script src="/assets/js/scripts.js"></script>
</body>
</html>