body {
  background-color:#dbedff;
  padding-bottom: 10px;
}

img { width: 100%; }

.well {
  background-color:#CCC;
  padding: 20px;
}

a:active, a:focus { outline:none; }

.inline-form input {
  display: inline-block;
  width: 100px;
}

/* navbar */
.navbar-default {
  background-color: #3472d5;
  border-color: #132f5d;
}
/* Title */
.navbar-default .navbar-brand {
  color: #FFF;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #FFF;
}
/* Link */
.navbar-default .navbar-nav > li > a {
  color: #FFF;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #132f5d;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #555;
  background-color: #132f5d;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #FFF;
  background-color: #132f5d;
}
/* Caret */
.navbar-default .navbar-nav > .dropdown > a .caret {
  border-top-color: #777;
  border-bottom-color: #777;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #333;
  border-bottom-color: #333;
}
.navbar-default .navbar-nav > .open > a .caret,
.navbar-default .navbar-nav > .open > a:hover .caret,
.navbar-default .navbar-nav > .open > a:focus .caret {
  border-top-color: #555;
  border-bottom-color: #555;
}
/* Mobile version */
.navbar-default .navbar-toggle {
  border-color: #132f5d;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #132f5d;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #FFF;
}

@media (max-width: 992px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #132f5d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {
    color: #132f5d;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #132f5d;
  }
}

.label-pill {
  padding-right: .6em;
  padding-left: .6em;
  border-radius: 10rem;
}



#nav{list-style:none;margin: 0px;padding: 0px;}
#nav li {
  float: left;
  margin-right: 20px;
  font-family: Arial;
  font-size: 14px;
  font-weight:bold;
}
#nav li a{color:#333333;text-decoration:none}
#nav li a:hover{color:#006699;text-decoration:none}

.table > thead > tr > th{
  text-align: center;
}

.table > tbody > tr > td{
  text-align: center;
}

.panel-body {
  padding: 0;
}

.panel-body > .table{margin-bottom:0px;}

.modal-body {
	margin-left: 20px;
	margin-right: 20px;
}
.highlight {
    background-color: gray;
}
.details {
    background-color: white;
    padding-left: 10px;
}
.total{
    width :4em;
    padding: 0px;
}


.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}

.container{
  padding-top:50px;
  margin: auto;
}

[hidden] {
  display: none !important;
}

[centered] {
  text-align: center;
}
#calendar{
/* 		float: right; */
margin: 0 auto;
margin-bottom: 20px;
background-color: #FFFFFF;
  border-radius: 6px;
box-shadow: 0 1px 2px #C3C3C3;
-webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
}
#calendarC{
float: right; 
margin: 0 auto;
background-color: #FFFFFF;
  border-radius: 6px;
box-shadow: 0 1px 2px #C3C3C3;
-webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
}
#calendarCGestion{
/* 		float: right; */
margin: 0 auto;
margin-right: 20px;
margin-bottom: 20px;
float :right;
background-color: #FFFFFF;
  border-radius: 6px;
box-shadow: 0 1px 2px #C3C3C3;
-webkit-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
-moz-box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
box-shadow: 0px 0px 21px 2px rgba(0,0,0,0.18);
}
.boxAccueil{
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.boxAccueilConges{
	padding-right: 15px;
	padding-left: 15px;
}
.mLeft{
	margin-left: 15px;
}
.error{
	color: #c00000
}
